:root {
  --border: #C6C6C6;
  --main-color: #FFFFFF;
  --secondary-color: #EDEDED;
  --font-color: #000000;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("fonts/Source_Sans_3.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Source Sans 3", sans-serif;
  cursor: default;
}

/* IMAGE DIMENSIONS */

#oldagram-logo {
  height: 70px;
}

#user-avatar,
.author-avatar {
  width: 50px;
  height: 50px;
  
  border-radius: 50%;
}

.uploaded-pic {
  width: 100%;
  padding: 15px 0;
}

.og-icon {
  height: 35px;
  padding: 5px 0 10px;
}

/* HEADER */

#nav {
  width: 100%;
  height: fit-content;
  padding: 8px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border);
}

#oldagram-logo,
#user-avatar {
  margin: 0 40px;
}

/* MAIN CONTENT */

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--font-color);
  background-color: var(--secondary-color);
}

.post {
  width: 100%;
  max-width: 650px;
  padding: 15px 0;

  background-color: var(--main-color);
}

.post:not(:last-child) {
  border-bottom: 35px solid var(--secondary-color);
}

.author, 
.icons {
  padding: 0 15px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  gap: 15px;
}

.likes, 
.comments {
  padding: 5px 15px;
}

.author p, 
.likes p, 
.comments p {
  margin: 0;
}

.author p {
  line-height: 1.4;
}

.bold {
  font-weight: bold;
}

/* HOVER EFFECTS */

img:hover {
  cursor: pointer;
}

.og-icon:hover {
  opacity: 0.5;
}