:root {
  --dark-purple: #1B244A;
  --darker-purple: #10142C;
  --light-purple: #9AABD8;
  --black: #080001;
  --red: #F94F6D;
  --white: #FFFFFF;
}

@font-face {
  font-family: "Cursed Timer";
  src: url("fonts/Cursed_Timer.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: var(--dark-purple);
  font-family: "Verdana", sans-serif;
  cursor: default;
}

/* RESET GAME */

#reset-game {
  height: 15vh;

  display: flex;
  justify-content: end;
}

#reset-btn {
  width: 160px;
  height: fit-content;

  margin: 35px 50px;
  padding: 15px;

  color: var(--light-purple);
  background-color: var(--dark-purple);
  border: 4px solid var(--light-purple);
  border-radius: 10px;
  font-size: 1.25rem;
}

/* TEAM CONTAINER */

.teams {
  width: 80%;
  height: 80vh;
  margin: auto;

  display: flex;
  align-items: center;
}

#home, 
#guest {
  width: 50%;
  text-align: center;
}

.team-heading {
  margin: 0;

  text-transform: uppercase;
  color: var(--white);
  font-size: 4.8rem;
}

.team-score {
  width: 80%;
  max-width: 300px;
  height: 250px;
  margin: 50px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--red);
  background-color: var(--black);
  border-radius: 10px;

  font-family: "Cursed Timer", sans-serif;
  font-size: 9rem;
}

/* POINT SYSTEM */

.point-system {
  width: 80%;
  max-width: 300px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.point-btn {
  width: 85px;
  height: 80px;

  color: var(--light-purple);
  background-color: var(--dark-purple);
  border: 4px solid var(--light-purple);
  border-radius: 10px;
  
  font-family: 'Cursed Timer', sans-serif;
  font-size: 2rem;
}

/* HIGHLIGHT LEADING TEAM */

.leading {
  box-shadow: 0 0 25px var(--red);
}

/* FOOTER */

footer {
  height: 5vh;
  text-align: center;

  color: var(--light-purple);
  font-size: 0.85rem;
  font-family: sans-serif;
}

footer a {
  color: inherit;
  text-decoration: none;
}

/* HOVER EFFECTS */

.point-btn:hover,
#reset-btn:hover {
  color: var(--dark-purple);
  background-color: var(--light-purple);
  border-color: var(--darker-purple);
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  #reset-game {
    height: fit-content;
    justify-content: center;
    align-items: center;
  }

  #reset-btn {
    margin: 35px 0 0;
  }

  .teams {
    width: 100%;
    height: unset;

    flex-direction: column;
  }

  #home, #guest {
    width: 100%;
    padding: 35px 0;
  }

  footer {
    margin: 50px 0 10px;
  }
}