:root {
  /* from provided color palette */
  --light: #F1FAEE;
  --aqua: #A8DADC;
  --light-blue: #457B9D;
  --dark-blue: #1D3557;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/* HERO SECTION */

#hero-section {
  width: 100%;
  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("images/torshov.jpg");
  background-size: cover;
  background-attachment: fixed;

  color: var(--light);
}

#hero-section h1, #hero-section h2 {
  width: fit-content;
  min-width: 350px;
  margin: 15px 0;
  padding: 10px 20px;

  align-self: center;
  border-radius: 15px;
}

#hero-section h1 {
  background-color: var(--dark-blue);
  font-size: 3.5rem;
}

#hero-section h2 {
  max-width: 60%;
  background-color: var(--light-blue);
  font-size: 1.8rem;
}

/* ACTIVITIES SECTION */

#activities-section {
  height: auto;
  padding: 50px 0;

  color: var(--dark-blue);
  background-color: var(--light);
}

#activities-section h3 {
  margin: 20px 0 75px;
  font-size: 2.5rem;
}

#activity-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.activity-card {
  width: 250px;
  padding: 0 25px;
}

.activity-card h4 {
  margin: 25px 0;
  font-size: 1.7rem;
}

.activity-card p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.activity-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* GUIDE SECTION */

#guide-section {
  height: 50vh;
  min-height: 400px;

  display: flex;
  align-items: center;
}

#guide-card {
  width: 550px;
  margin: 0 auto;
  padding: 25px;

  display: flex;
  gap: 25px;

  color: var(--dark-blue);
  background-color: var(--aqua);
  border-radius: 15px;
  box-shadow: 0 8px 0 var(--dark-blue);
}

#guide-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#guide-info h3 {
  margin: 10px 0;
  font-size: 1.9rem;
}

#guide-info p, #guide-info h4 {
  margin: 15px 0;
  font-size: 1.3rem;
}

#guide-img {
  height: 300px;
  border-radius: 15px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  #activity-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}